@import "../../assets/scss/variables.scss";

.wrapper {
  padding: 3rem;
}

.blog-post {
  position: relative;
  padding: 6rem 3rem 6rem 6rem;
  background: #fff;
  max-width: 400px;
  border-radius: 10px;
  box-shadow: 1px 1px 2rem rgba(0, 0, 0, 0.3);
}

input {
  width: 100%;
}
textarea{
  resize: none; 
  width: 100%;
  margin-bottom: 3rem;
  min-height: 8rem;
}


.btn-primary {
  border: none;
  outline: none;
  background: linear-gradient(90deg, #ff9966, #ff5e62);
  padding: 1.5rem 2rem;
  border-radius: 50px;
  color: white;
  font-size: 1.2rem;
  box-shadow: 1px 10px 2rem rgba(255, 94, 98, 0.5);
  transition: all .2s ease-in;
  text-decoration: none;
  &:hover{
    box-shadow: 0px 5px 1rem rgba(255, 94, 98, 0.5);
    cursor: pointer;
  }
}

