$urlFont: "https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap";
$font: 'Roboto', sans-serif;
$primary: #333;
$secondary: #999;

$bgColor: #1488cc;
$bgColorGradient: #2b32b2;

$iconComment: "https://s3-us-west-2.amazonaws.com/s.cdpn.io/1765/icon-chat.svg"