@import "./assets/scss/variables.scss";
@import url($urlFont);

html {
  font-family: $font;
  font-size: 12px;
}


body {
  background: $bgColor;
  background: -webkit-linear-gradient(to right, $bgColorGradient, $bgColor);
  background: linear-gradient(to right,$bgColorGradient,$bgColor);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.btn-standar {
  background-color: azure;
  padding: 0.5rem;
  border-radius: 10px;
  text-decoration: none;
  color: #000;
  &:hover{
      color: #fff;
      background-color: #ff9865;
  }
}